<app-nav></app-nav>
<div class="container-fluid" style="margin-top: 56px;">
  <div class="row vdivide">
    <div class="col-sm-6 text-center">
      
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Data/Hora</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of positions" (click)="onSelect(item)">
            <th scope="row">{{item.id}}</th>
            <td>{{item.latitude}}</td>
            <td>{{item.longitude}}</td>
            <td>{{ item.data | date:'dd/MM/yyyy hh:mma'}}</td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn form-control btn-primary" (click)="onUpdateTable()">CARREGAR POSIÇÕES</button>
    </div>
    <div class="col-sm-6 text-center">
      <div style="padding:20px">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-marker [latitude]="lat" [longitude]="lng">
            <agm-info-window [disableAutoPan]="false" #infoWindow>
              <div>
                <a class="btn btn-attention pull-right">
                {{ address }} <i class="fa fa-angle-double-right"></i></a>
              </div>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>